@using dotnet_framework_mvc_animals.Models;

@model List<Animal>


@{
    ViewBag.Title = "Animales";
}


<ul>
    @foreach (Animal a in Model)
    {
        <li>IdAnimal: @a.IdAnimal &nbsp; &nbsp; Nombre Animal: @a.NombreAnimal &nbsp; &nbsp;<button class="btn btn-primary">Editar</button></li> 
    }

    <h1>@ViewBag.luckyAnimal</h1>
</ul>